/* *Universal Design */
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
/* *Body */
body {
  width: 100%;
  font-family: "Inter", sans-serif;
}
/* *All anchor tag */
a {
  text-decoration: none;
}
/* *Universal Section Design */
.container {
  padding: 1rem 2rem 0rem 2rem;
  background: rgb(17, 17, 17);
}
/* *Header */
header {
  padding: 1rem 2rem 0rem 2rem;
  color: white;
  background: linear-gradient(
    to bottom,
    rgb(17, 17, 17),
    rgba(15, 15, 15, 0.9),
    rgb(17, 17, 17)
  );
}
/* *NavBar */
.nav-container {
  top: 0;
  display: flex;
  align-items: center;
}
.item-1,
.item-2 {
  width: 50%;
}
/* *Web-Title */
.web-title {
  font-style: italic;
  font-weight: 800;
  font-size: 2rem;
  color: #e6533c;
}
/* *Navigation Menu */
.nav-menu {
  list-style: none;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 40px;
}
.home-default {
  border-radius: 40px;
  background-color: #e6533c;
}

.nav-menu li {
  padding: 0.5rem 2rem;
  text-decoration: none;
  font-weight: 400;
}
.nav-menu a {
  font-size: 1rem;
  color: white;
}

/* *Hamburger styles */
.item-2 {
  display: flex;
  align-items: center;
  position: relative;
}
.hamburger {
  display: none;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  position: absolute;
  right: 0;
}

.hamburger span {
  display: block;
  width: 100%;
  height: 4px;
  background-color: white;
  margin-bottom: 5px;
  transition: all 0.3s ease;
}
/* *Hide checkbox in Hamburger*/
#menu-toggle {
  display: none;
}

/* *Show menu when checkbox is checked for mobile*/
#menu-toggle:checked + .hamburger + .nav-menu {
  display: block;
}
/* *Header Content */
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
.header-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}
.header-text p {
  font-size: 1rem;
  padding: 1rem 0;
  text-align: left;
  color: rgba(239, 237, 232, 0.65);
}
.header-heading {
  font-size: 4.5rem;
  font-weight: 900;
  text-align: left;
}
.miama-text {
  font-family: "Miama", sans-serif;
  font-weight: 600;
}
.header-btn {
  display: flex;
  gap: 1rem;
}
/* *Universal Button */
.btn {
  cursor: pointer;
  border-radius: 42px;
  border: 0px;
  padding: 0.6rem 2rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
}
/* *Header Button */
.primary-btn {
  border: 1px solid transparent;
  background: rgb(230, 83, 60);
}

.secondary-btn {
  border: 1px solid rgb(255, 255, 255);
  background: rgb(0, 0, 0);
}
.header-image {
  position: relative;
}
/* *Header Floating Features */
.feature {
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(10px);
  background: rgba(48, 48, 48, 0.54);
  font-size: 1.2rem;
  font-weight: 900;
  color: rgb(250, 250, 249);
  padding: 0.8rem;
}
.circle {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: rgb(230, 83, 60);
}
.feature-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0%;
  top: 70%;
}
.feature-2 {
  position: absolute;
  left: 70%;
  top: 20%;
}
.feature-text {
  padding-top: 0.2rem;
  font-size: 1rem;
  font-weight: 400;
  color: rgba(239, 237, 232, 0.65);
}
.feature-align {
  text-align: left;
}
/* *Habit Section */
.change-habits {
  color: #fff;
  text-align: center;
}
.change-habits > h1 {
  font-weight: 800;
  font-size: 3rem;
  padding: 2rem 0rem;
}
.change-habits > p {
  color: rgba(239, 237, 232, 0.65);
}
.habits {
  display: flex;
  gap: 2rem;
  justify-content: center;
  padding: 1rem 0rem;
}
.habit {
  padding: 1rem 0rem;
}
.habit img {
  border-radius: 50%;
}
.habit h1 {
  padding: 1rem 0rem;
}
.habit p {
  font-size: 1rem;
  color: rgba(239, 237, 232, 0.65);
}
/* *Run-extra Section */
.run-extra-mile {
  color: #fff;
}
.run-extra {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8rem;
  border-radius: 18px;
  padding: 1rem;
  background: rgb(34, 34, 34);
}
.run {
  padding: 1rem;
}
.run > h1 {
  font-weight: 800;
  font-size: 3rem;
  padding: 1rem 0rem;
}
.run > p {
  color: rgba(239, 237, 232, 0.65);
  padding: 1rem 0rem;
}
.run-img img {
  width: 25rem;
  height: 20rem;
  object-fit: cover;
  border-radius: 10px;
}
/* *Training Section */
.train-and-exercise > h1 {
  color: #fff;
  font-weight: 800;
  font-size: 3rem;
  padding: 1rem 0rem;
}
.train-and-exercise > p {
  color: rgba(239, 237, 232, 0.65);
  padding: 1rem 0rem;
}
.image-grid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  padding: 1rem 0rem;
}

.grid-item {
  position: relative;
  height: 15rem;
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem 1rem;
  font-weight: 800;
  font-size: 1rem;
  color: #fff;
}

.exercise-1 {
  grid-column: span 2;
}

.exercise-2 {
  grid-column: span 5;
}

.exercise-3 {
  grid-column: span 2;
}

.exercise-4 {
  grid-column: span 4;
}

.exercise-5 {
  grid-column: span 2;
}

.exercise-6 {
  grid-column: span 3;
}

.teal {
  background-color: rgba(6, 255, 210, 0.3);
  display: flex;
  justify-content: start;
  align-items: end;
}

.red {
  background-color: rgba(255, 0, 0, 0.3);
  display: flex;
  justify-content: start;
  align-items: start;
}

.gray {
  background-color: rgba(128, 128, 128, 0.3);
  display: flex;
  justify-content: start;
  align-items: end;
}
.blackish {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: end;
  align-items: start;
}

.lightgreen {
  background-color: rgba(66, 255, 0, 0.3);
  display: flex;
  justify-content: start;
  align-items: end;
}

.lightblue {
  background-color: rgba(0, 71, 255, 0.3);
  display: flex;
  justify-content: start;
  align-items: end;
}
/* *BMI Calculator */

.calculator-heading {
  padding-left: 10rem;
}

.calculator-heading > h1 {
  color: #fff;
  font-weight: 800;
  font-size: 3rem;
  padding: 1rem 0rem;
}
.calculator-heading > p {
  color: rgba(239, 237, 232, 0.65);
  padding: 1rem 0rem 2rem 0rem;
}
.bmi-calculator {
  background: rgb(34, 34, 34);
  color: white;
  display: flex;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.bmi-chart {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 1rem;
  width: 50%;
}
.bmi-table {
  width: 50%;
}
table,
th,
td {
  text-align: left;
  padding: 0.8rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-collapse: collapse;
}
.bmi-chart td {
  color: rgba(239, 237, 232, 0.65);
}
.calculator-container {
  display: flex;
  flex-direction: column;

  flex: 1;
  gap: 1rem;
}
.calculator-container > p {
  color: rgba(239, 237, 232, 0.65);
}
form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.5rem;
}
input,
select {
  padding: 1rem;
  border: 1px solid transparent;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  color: white;
}
select {
  color: rgba(255, 255, 255, 0.6);
}
select > option {
  background: rgba(34, 34, 34, 0.9);
}
::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
#factor {
  grid-column: span 2;
}
.bmi-btn {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
}
/* *Team Section */

#team {
  color: #fff;
  text-align: center;
  padding-bottom: 2rem;
}
#team > h1 {
  font-weight: 800;
  font-size: 3rem;
  padding: 1rem 0rem;
}
#team > p {
  color: rgba(239, 237, 232, 0.65);
  padding: 1rem 0rem 2rem 0rem;
}
.team-members {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  border-radius: 18px;
  padding: 1rem;
  background: rgb(34, 34, 34);
}

.members {
  position: relative;
  height: 20rem;
}
.member-name {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
}
.member-name > p {
  color: rgba(239, 237, 232, 0.65);
  font-size: 1rem;
}
.member-name > h1 {
  font-weight: 800;
  font-size: 1.5rem;
}
.members img {
  opacity: 70%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 18px;
}
/* *Articles */

.latest-posts {
  padding-bottom: 2rem;
  text-align: center;
  color: #fff;
}

.post-section-title h3 {
  color: rgba(239, 237, 232, 0.65);
}

.post-section-title h1 {
  font-weight: 800;
  font-size: 3rem;
  padding: 1rem 0rem;
}
.post-item {
  background: rgb(34, 34, 34);
  display: flex;
  padding: 1rem;
  border: 1px solid #333;
}

.post-item .post-image img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  margin-right: 1.5rem;
}

.post-content {
  text-align: left;
  flex: 1;
}

.post-content h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.post-content p {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: rgba(239, 237, 232, 0.65);
}

.read-more {
  display: inline-block;
  padding: 0.8rem 1rem;
  color: #fff;
  text-decoration: none;
  border: 1px solid #e6533c;
  transition: background-color 0.3s;
}

.read-more:hover {
  background-color: #e6533c;
}

/* *Footer Section */
.footer-container {
  background: rgb(34, 34, 34);
}
.footer-flex {
  flex: 1;
  display: flex;
  justify-content: space-between;
  padding: 5rem 0;
}
.footer-heading {
  width: 50%;
}
.footer-heading > p {
  color: rgba(255, 255, 255, 0.5);
}
.footer-title {
  font-weight: 800;
  font-size: 3rem;
}
.get-start > ul > li {
  text-decoration: none;
  list-style: none;
  padding: 0.5rem 0rem;
}
.get-start a {
  color: rgba(255, 255, 255, 0.5);
}
.get-start > h1 {
  color: #fff;
}
/* *Horizontal Bar */
hr {
  border-color: rgba(255, 255, 255, 0.1);
}
/* *Copyright Claim */
.copyright {
  color: rgba(255, 255, 255, 0.5);
  padding: 2rem 0;
  text-align: center;
}


/* *Media Query For Mobile Devices */

@media (max-width: 576px) {
  .hamburger {
    display: block;
  }
  .nav-menu {
    display: none;
  }
  .header-container {
    flex-direction: column;
  }
  .header-text,
  .header-container {
    width: 100%;
  }
  .habits {
    flex-direction: column;
  }
  .run-extra {
    flex-direction: column;
    gap: 2rem;
  }
  .run-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  }
  .image-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .exercise-1,
  .exercise-2,
  .exercise-3,
  .exercise-4,
  .exercise-5,
  .exercise-6 {
    grid-column: span 1;
  }
  .bmi-calculator {
    flex-direction: column;
    gap: 3rem;
  }
  .calculator-heading {
    padding-left: 2rem;
  }
  .bmi-chart {
    width: 100%;
  }
  .bmi-table {
    width: 100%;
  }
  .form-field{
    grid-template-columns: repeat(1,1fr);
  }
  #factor{
    grid-column: span 1;
  }
  .bmi-btn{
width: 100%;
  }
  .team-members {
    grid-template-columns: repeat(1, 1fr);
  }
  .post-item {
    flex-direction: column;
    align-items: start;
  }
  .footer-flex {
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 0;
  }
  .footer-heading {
    width: 100%;
  }
}
